//common
@use'common/mixin' as m;
@use'common/common';

// layout
@use'layout/header';
@use'layout/footer';

//pages
@use'pages/splash';
@use'pages/line';
@use'pages/mainvisual';
@use'pages/pronavi';
@use'pages/worry';
@use'pages/reason';
@use'pages/flow';
@use'pages/our-support';
@use'pages/metaleaf';
@use'pages/voice';
@use'pages/result';
@use'pages/price';
@use'pages/question';