//common
@use'common/mixin' as m;
@use'common/common';

//layout
@use'layout/footer';
@use'layout/header';

//pages
@use'pages/voice';

//pages
@use'pages/metaleaf';

//pages
@use'pages/result';


//pages
@use'pages/mainvisual';
@use'pages/video';
@use'pages/worry';
@use'pages/reason';
@use'pages/flow';
@use'pages/price';
@use'pages/question';


