@use'../common/mixin' as m;

.mainvisual {
    width: 100%;
    height: 100vh;
    padding-top: 130px;
    position: relative;

    .img {
        position: absolute;
        top: 25%;
        right: 7%;
        transform: translateY(-50%);
        max-width: 43%;
        opacity: 0;
        transform: scale(0);
        transform-origin: center bottom;
        filter: blur(12px);
        animation: smoothPop 1.2s cubic-bezier(.19, 1, .22, 1) forwards;
        animation-delay: 6s;
    }

    @keyframes smoothPop {
        0% {
            opacity: 0;
            transform: scale(0);
            filter: blur(12px);
        }

        40% {
            opacity: 1;
            transform: scale(1.15);
            filter: blur(0);
        }

        60% {
            transform: scale(0.95);
        }

        75% {
            transform: scale(1.04);
        }

        100% {
            transform: scale(1);
            filter: blur(0);
            opacity: 1;
        }
    }
}

.text {
    margin-bottom: 70px;
    position: absolute;
    top: 23%;
    width: 45%;
    padding-left: 15%;

    p {
        margin-bottom: 40px;
        font-size: clamp(13px, calc(100vw * 20 / 1920), 25px);
    }

    .texts {
        margin-bottom: 30px;
        font-size: clamp(26px, calc(100vw * 50 / 1920), 60px);


        span {
            color: rgb(146, 146, 252);
        }
    }

    .btn {
        display: block;
        margin-inline: auto;
        width: 80%;
        padding-inline: 20px;
        font-size: clamp(10px, calc(100vw * 20 / 1920), 25px);
    }
}

.batch {
    display: flex;
    gap: 2%;
    position: absolute;
    top: 77%;
    width: 45%;
    padding-left: 15%;

    li {
        width: 33%;
    }
}