@use "../common/mixin" as m;

#metaleaf {
  margin-bottom: 200px;
  padding-top: 100px;
}

.metaleaf-description {
  text-align: center;

  p {
    font-family: var(--ff-title);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3;
    opacity: 0;
    animation: glow_anime_on 5s ease-out forwards;
    


    &:nth-of-type(3) {
      margin-bottom: 50px;
    }
  }
}

@keyframes glow_anime_on {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }

  50% {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 15px #fff;
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
}

.color {
  color: var(--blue-color);
  position: relative;
}

.meta-right,
.meta-left {
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
  border-radius: 40px;
  border: 3px solid black;
  box-shadow: 9px 10px 2px var(--yellow-color);
  padding: 30px;

  p {
    font-family: var(--ff-main);
    font-weight: bold;
    font-size: 1.85rem;
    position: relative;
    margin-bottom: 30px;
    color: var(--blue-color);

    img {
      width: 48px;
      height: 48px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.meta-left {
  box-shadow: 9px 10px 2px var(--blue-color);
}

.meta-box {
  display: flex;
  align-items: center;
  gap: 50px;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    padding-left: 15px;

    &::before {
    position: absolute;
    content: "";
    width: 3px;
    height: calc(100% - 24px);
    background-color: var(--yellow-color);
    left: -10px;
  }
  p {
    font-weight: var(--ff-main);
    font-size: 1.3rem;
    line-height: 1.9;
    color: black;
  }
}

.meta-left {
  .text-box {
    position: relative;

    &::before {
      background-color: var(--blue-color);
    }
  }
}

.fade {
  animation-name: fadeAnime;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.5s;
}

.shine {
  width: 50%;
  display: inline-block;

  a {
    display: inline-block;
  }

  span.mask {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    overflow: hidden;

    img {
      display: block;
      height: auto;
      position: relative;
      z-index: 1;
      border-radius: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -120%;
      width: 80%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: skewX(-25deg);
      z-index: 2;
      pointer-events: none;
    }

    &:hover::before {
      animation: shine 0.7s ease-out;
    }
  }
}

.shine-on span.mask::before {
  animation: shine 0.7s ease-out;
}

@keyframes shine {
  100% {
    left: 140%;
  }
}

@media (max-width: 768px) {
.title{
    font-size: 1.5rem;
}

  .meta-box {
    flex-direction: column;
    align-items: center;
      gap:15px;
  }

  .shine {
    width: 100%;
  }

  .text-box {
    width: 100%;
    position: relative;
    padding-left: 0;
   
  
  }
  .text-box p:nth-of-type(1){
    margin-top:15px;
  }

  .text-box::before {
    position: absolute;
    content: "";
    height: 3px;
    width: calc(100% - 24px);
    left: 0;
    top:0;

  }

  .text-box p{
    font-size:1rem;
  }
}
