#reason {
    margin-bottom: 120px;
    background-color: var(--background-color);
}

#reason .section-title span {
    color: var(--blue-color);
    font-size: 3.8rem;
}

#reason ul {
    display: flex;
    justify-content: space-between;
    padding: 50px 5%;

}

#reason ul li {
    width: 31%;
    background-color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 0 8px 4px #ccc;
    padding: 20px;
}


#reason ul .item-title {
    font-size: clamp(14px, calc(100vw * 32 / 1920), 32px);
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(43, 43, 43);
}

#reason ul .item-title span {
    color: rgb(79, 113, 204);
    font-weight: bold;
    font-size: clamp(14px, calc(100vw * 32 / 1920), 32px);
    margin-inline: 8px;
}

#reason ul li img {
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
}

#reason ul .item-text {
    font-size: 1.125rem;
    margin: 20px 0;
    border-top: 1px solid var(--blue-color);
    padding-top: 15px;
}

.fadeIn {
    animation-name: fadeInAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:768px) {
    #reason {
        width: 100%;
        // padding: 0 5%;
    }

    #reason ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #reason ul li {
        width: 100%;
        margin-bottom: 50px;
    }

    #reason ul .item-title {
        font-size: 24px;
    }

    #reason ul .item-title span {
        font-size: 24px;
    }

    #reason ul li img {
        width: 60%;
        display: block;
        margin: 0 auto;
    }

    #reason ul .item-content {
        padding: 16px;
    }

}