#reason {
    margin-bottom: 120px;
    background-color: var(--background-color);


}

#reason ul {
    display: flex;
    justify-content: space-between;
    padding: 50px 5%;

}

#reason ul li {
    width: 30%;
    background-color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 0 8px 4px #ccc;
    padding: 20px;
}

#reason ul .item-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#reason ul li img {
    vertical-align: top;
}

#reason ul .item-text {
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 0;
}

.fadeIn {
    animation-name: fadeInAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:768px) {
    #reason {
        width: 100%;
        // padding: 0 5%;
    }

    #reason ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #reason ul li {
        width: 100%;
        margin-bottom: 50px;
    }

    #reason ul li img {
        width: 60%;
        display: block;
        margin: 0 auto;
    }

    #reason ul .item-content {
        padding: 16px;
    }

}