@use'../common/mixin' as m;

/* result */
#result {
    width: 100%;
    padding: 100px 0 50px 0;
    margin-bottom: 120px;

    .section-deco {
        width: 200px;
    }

    .slick-area li {
        // box-shadow: 1px 1px 4px red ;
        padding: 0 30px;
        vertical-align: baseline;
    }

    .section-title{
        padding-top: 50px;
    }
}
