#worry {
    background-color: var(--background-color);
}

#worry h3 span {
    font-size: 2.5rem;
    color: var(--blue-color)
}

#worry .worry-area {
    max-width: 80%;
    position: relative;
    padding: 120px 0;
    margin: 0 auto;
}

#worry .worry-img {
    width: 50%;
    margin: 0 auto;
    animation-delay: .2s;
}

#worry .worry-area img {
    border-radius: 50%;
}

#worry .worry-area ul {
    animation-delay: .2s;
}

#worry .worry-area ul li {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    height: 60px;
    line-height: 1;
    background-color: var(--yellow-color);
    border-radius: 20px;
    padding: 20px;
}

#worry .worry-area ul li:nth-child(1) {
    top: 15%;
    left: 5%;
    animation-delay: .4s;
}

#worry .worry-area ul li:nth-child(2) {
    top: 45%;
    left: 0%;
    animation-delay: .6s;
}

#worry .worry-area ul li:nth-child(3) {
    top: 80%;
    left: 5%;
    animation-delay: .8s;
}

#worry .worry-area ul li:nth-child(4) {
    top: 12%;
    right: 12%;
    animation-delay: 1s;
}

#worry .worry-area ul li:nth-child(5) {
    top: 42%;
    right: 8%;
    animation-delay: 1.2s;
}

#worry .worry-area ul li:nth-child(6) {
    top: 75%;
    right: 10%;
    animation-delay: 1.4s;
}

#worry .worry-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20%;
    background-color: #fff;
}

#worry .worry-text p {
    text-align: left;
    font-size: 1.25rem;
}

#worry .worry-text img {
    width: auto;
    height: 10vh;
    object-fit: contain;
}

@media screen and (max-width:768px) {
    #worry .worry-area {
        padding: 0 0 70px 0;
    }

    #worry .worry-img {
        width: 50%;
        margin: 0 auto 30px auto;
    }

    #worry .worry-area ul li {
        position: relative;
        top: inherit !important;
        left: inherit !important;
        right: inherit !important;
        transform: none !important;
        text-align: center;
        margin: 0 0 10px 0;
    }

    #worry .worry-area ul li {
        text-align: center;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        padding: 10px;
    }


    #worry .worry-text {
        display: flex;
        flex-direction: column-reverse;

    }

}

.fadeIn {
    animation-name: fadeInAnime;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomInAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes zoomInAnime {
    from {
        transform: scale(0.6);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.fadeDown {
    animation-name: fadeDownAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeDownAnime {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInTrigger,
.zoomInTrigger,
.fadeDownTrigger,
.flipLeftTopTrigger,
.flipRightTopTrigger {
    opacity: 0;
}