@use'../common/mixin' as m;

#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #FBFAFA;
    align-items: center;
    padding-inline: 40px;
    position: fixed;
    z-index: 10;
    font-family: var(--ff-main);

    .inner {
        display: flex;
        align-items: center;

        .btn {
            margin-right: 30px;
        }
    }
}

h1 {
    width: 240px;
    line-height: 1;
    margin-left: 5%;

    img {
        height: 80px;
    }
}

#nav {
    position: fixed;
    width: 300px;
    top: 2.5%;
    right: -400px;
    padding-inline: 20px;
    opacity: 1;
    background-color: #FBFAFA;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    z-index: 100;
    padding-block: 20px;

    .menu-header {
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        cursor: pointer;
        padding: 10px;

        .logo {
            width: 125px;

            img {
                height: 40px;
            }
        }

        button {
            font-size: 1.4rem;
            transition: 0.4s;

            &:hover {
                opacity: 0.8;
                scale: calc(1.3);
            }
        }
    }

    li {
        font-size: 1rem;
        text-align: center;
        font-size: clamp(12px, calc(100vw * 15 / 1920), 15px);
        font-weight: 500;
        padding-inline: 15px;
        text-align: left;
        margin-bottom: 10px;

        &::marker {
            color: var(--blue-color);
        }

        a {
            color: black;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                height: 2px;
                background: var(--blue-color);
                transition: all 0.3s ease;
                transform: translateX(-50%);
            }

            &:hover {
                color: var(--blue-color);

                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.open #nav {
    opacity: 1;
    right: 30px;
    z-index: 1;
}

/*  hamburger  */


.toggle-btn {
    width: 100px;
    height: 100px;
    background-color: #FBFAFA;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;

    &:hover {
        opacity: 0.8;
    }

    span {
        display: block;
        width: 50%;
        height: 3px;
        background-color: rgb(0, 0, 0);
        border: 1px solid rgb(0, 0, 0);
        position: absolute;
        left: 25px;
        transition: all 0.5s;

        &:nth-child(1) {
            top: 35%;
        }

        &:nth-child(2) {
            top: 50%;
        }

        &:nth-child(3) {
            top: 65%;
        }
    }
}

.open .toggle-btn {
    display: none;
}


#mask {
    display: none;
    transition: all 1s;
}

.open #mask {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width:768px) {
    #header {
        padding-inline: 20px;

        .inner {
            .btn {
                width: 180px;
                padding: 10px 15px 10px 5px;
                font-size: 0.7rem;
                margin-right: 5px;

                &::after {
                    top: 16px;
                    right: 8px;
                    width: 10px;
                    height: 10px;
                    border-top: 2px solid var(--blue-color);
                    border-right: 2px solid var(--blue-color);
                }

                &:hover {
                    &::after {
                        border-top: 2px solid yellow;
                        border-right: 2px solid yellow;
                    }
                }
            }
        }
    }

    h1 {
        width: 120px;

        img {
            height: 40px;
        }
    }

    .toggle-btn {
        width: 80px;
        height: 80px;

        span {
            left: 20px;
        }
    }
}