@charset "utf-8";
@use'../common/mixin' as m;


:root {
    --text-main-color: #333333;
    --text-sub-color: #555555;
    --text-section-color: #4B3A2F;
    // --main-color: #FFB865;
    // --pink-color: #F8B2AA;
    // --blue-color: #57D3EC;
    // --merit-list1-color: #FFF3E0;
    // --merit-list2-color: #FFE8C6;
    --blue-color:#83B7CC;
    --vivid-yellow-color:#FFF13A;
    --yellow-color: #F3E0A6;
    --background-color: #FBF9ED;
    // --background-pink-color: #FAE9E8;
    --base-color: #ffffff;
    --box-shadow: #00000040;

    --ff-main: 'Noto Sans JP', sans-serif;
    --ff-title: 'Zen Kaku Gothic New', sans-serif;
    --ff-sub: 'M PLUS 1p', sans-serif;
}

html {
  font-size: 100%;
}

body {
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
  font-family: var( --ff-main);
  // font-family: var(--ff-title );
  // font-family: var(  --ff-sub);
}

a {
  color: #121212;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.site-title {
  line-height: 1px;
}

.site-title a {
  display: block;
}

.section-title {
  font-size: 2.25rem;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color:var(--blue-color);
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}



.section-deco{
    width: 500px;
   margin:0 auto;
   position: relative;
   z-index: 5;
  }