@charset "utf-8";
@use'../common/mixin' as m;


:root {
  --text-main-color: #333333;
  --text-sub-color: #555555;
  --text-section-color: #4B3A2F;
  --blue-color: rgb(79, 113, 204);
  --vivid-yellow-color: #FFF13A;
  --yellow-color: #F3E0A6;
  --background-color: #FBF9ED;
  --base-color: #ffffff;
  --box-shadow: #00000040;
  --ff-main: 'Noto Sans JP', sans-serif;
  --ff-title: 'Montserrat', sans-serif;
  --ff-sub: 'M PLUS 1p', sans-serif;
}

html {
  font-size: 100%;
}

body {
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
}

a {
  color: #121212;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 2%;
}

.section-title {
  font-size: 2.25rem;
  margin-bottom: 100px;
  padding-top:120px;
  text-align: center;
  position: relative;
  font-family: var(--ff-title);
  font-weight: 900;
  padding-top: 100px;
}

.section-title::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--blue-color);
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 3px solid var(--blue-color);
  color: var(--blue-color);
  border-radius: 40px;
  padding-inline: 15px 25px;
  background-color: var(--vivid-yellow-color);
  transition: all 0.5s;
  font-weight: bold;
  font-family: var(--ff-sub);
  position: relative;

  &::after {
    position: absolute;
    top: 17px;
    right: 15px;
    content: "";
    width: 9px;
    height: 9px;
    border-top: 2px solid var(--blue-color);
    border-right: 2px solid var(--blue-color);
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  &:hover {
    opacity: 0.8;
    scale: calc(1.05);
    background-color: var(--blue-color);
    color: yellow;

    &::after {
      border-top: 2px solid yellow;
      border-right: 2px solid yellow;
    }
  }
}