// ブレイクポイントを指定
$sp: 500px;
$tb: 768px;


//全ページ共通

@mixin sp{
    @media(max-width:($sp)){
        @content;
    }
}

@mixin tb{
    @media(max-width:($tb)){
        @content;
    }
}